<div class="box">
  <div class="box-header">
    <h3 class="box-title">Groups</h3>
    <%= link_to 'New Group', new_group_path, style: "float: right", class: "btn btn-success btn-sm" %>
  </div>
  <div class="box-body no-padding users">
    <%= render 'groups' %>
  </div>
</div>
