<div class="box box-success">
	<div class="box-header">
		<h3 class="box-title">Quick Search</h3>
		<%#= link_to 'All members', members_path, style: "float: right", class: "btn btn-success btn-sm" %>
	</div>
	<div class="box-body no-padding">
		<%= render "search_form" %>
		<br><br>
	</div>
</div>