<div class="box box-success">
	<div class="box-header">
		<h3 class="box-title">New Member</h3>
		<%= link_to 'All members', members_path, style: "float: right", class: "btn btn-success btn-sm" %>
	</div>
	<div class="box-body no-padding">
		<%= render 'form' %>
	</div>
</div>
